<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">YELP MVP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Restaurants
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% @restaurants.each do |restaurant| %>
            <a class="dropdown-item" href="/restaurants/<%= restaurant.id %>">
              <%= restaurant.name %></a>
          <% end %>
        </div>
      <li class="nav-item">
        <a class="nav-link" href="#">Leave a Review</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container fill" style="height: 100%;">
  <div class="card-container">
    <% @restaurants.each do |restaurant| %>
      <div class="card" style="width: 18rem; margin: 10px;">
        <img class="card-img-top" src="https://cdn2.lamag.com/wp-content/uploads/sites/6/2019/02/JVB_exterior_JoshuaWhite-1068x854.jpg" alt="">
        <div class="card-body d-flex align-items-end justify-content-between">
          <h5 class="card-title"><%= restaurant.name %></h5>
          <a href="/restaurants/<%= restaurant.id %>" class="btn btn-primary .btn-sm">
            More</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
