
<div class="container" style="align-items: center;">
  <h1>Restaurant: <%= @restaurant.name %></h1>
  <h3>Address: <%= @restaurant.address %></h3>
  <h3>Category: <%= @restaurant.category %></h3>
  <img src="https://cdn2.lamag.com/wp-content/uploads/sites/6/2019/02/JVB_exterior_JoshuaWhite-1068x854.jpg" style="width: 400px;">
</div>
